# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Python virtual environment
venv/
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# macOS
.DS_Store

# Node modules
frontend/node_modules/
frontend/.next/

# Log files
*.log

# Local environment files
backend/jd.json
backend/resumes.json
backend/temp/
backend/hackathon-open-ai-key

# Build output
frontend/dist/

# IDE/editor folders
.vscode/
.idea/ 